<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!--日志路径和级别-->
    <springProperty scope="context" name="LOG_HOME" source="log.custom.dir" defaultValue="/home/kenick/smartFinancial-manager/logs" />
    <springProperty scope="context" name="LOG_LEVEL" source="log.custom.level" defaultValue="DEBUG" />

    <!--控制台日志-->
    <appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] (%file:%line\): %-5level %c - %msg %n</Pattern>
        </encoder>
    </appender>

    <!--按日期保存日志-->
    <appender name="fileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${LOG_HOME}/smartFinancialManager.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!-- daily rollover -->
            <FileNamePattern>${LOG_HOME}/smartFinancialManager.%d{yyyy-MM-dd}_%i.log</FileNamePattern>
            <maxFileSize>100MB</maxFileSize>
            <!-- keep 30 days' worth of history -->
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] (%file:%line\): %-5level %c - %msg %n</Pattern>
        </encoder>
    </appender>

    <!--应用local环境日志-->
    <springProfile name="local">
        <logger name="com.kenick" level="${LOG_LEVEL}">
            <appender-ref ref="consoleAppender" />
            <appender-ref ref="fileAppender" />
        </logger>
    </springProfile>

    <!--应用cloud环境日志-->
    <springProfile name="dev,test,prod,cloud">
        <logger name="com.kenick" level="${LOG_LEVEL}">
            <appender-ref ref="fileAppender" />
        </logger>
    </springProfile>

</configuration>
