body{
    font-size:100%
}

.container{
    max-width:1000px;
}

thead{
    font-size:120%
}

.table td, .table th {
    padding: .3rem;
    vertical-align: center;
    horiz-align: center;
    border-top: 2px solid #dee2e6;
}
