
body{
    text-align: center;
}

.container{
    max-width:1000px;
}

.scroll-bar{
    font-size: 12px;
    height: 16px;
 }

.horizontal{
    text-align:center;
    display:inline-block;
}

.table_refresh{
    margin-top: 5px;
}

.table thead{
    font-size:14px;
}

.table tbody{
    font-size:12px;
}

.table td, .table th {
    padding: .5rem;
    vertical-align: center;
    horiz-align: center;
    border-top: 2px solid #dee2e6;
}

.table .timeTh{
    width: 130px;
}

.marginLeft10{
    margin-left: 10px;
}

input{
    width: 20px;
    height: 15px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #ccc!important;
    border-color: #4d3900!important;
}
