<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>readme</title>
</head>
<style type="text/css">
    p {
        font: 12px/1.5 Tahoma,Helvetica,Arial,"宋体",sans-serif;
    }
</style>
<body>

<p>
    type 1:基金 2：股票 3：深债 4：沪债<br/>
    http://hq.sinajs.cn/list=sz<br/>
    http://hq.sinajs.cn/list=sh<br/>

    <br/>
    http://www.kenick.top/grid/findOutGood<br/>
    204 : 最近4周排名靠前的<br/>

    <br/>
    http://www.kenick.top/grid/findOutBad<br/>
    204 : 最近4周排名靠后的<br/>

    <br/>
    http://www.kenick.top/grid/backTest<br/>
    123111,5,0,0.2,20<br/>
    123111:fundCode<br/>
    5:dayNum<br/>
    0:initPrice<br/>
    0.2:gridInterval<br/>
    20:gridQuantity<br/>

</p>

</body>
</html>