<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kenick.generate.dao.UserFundMapper">
  <resultMap id="BaseResultMap" type="com.kenick.generate.bean.UserFund">
    <id column="user_id" jdbcType="VARCHAR" property="userId" />
    <id column="fund_code" jdbcType="VARCHAR" property="fundCode" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="wx_code" jdbcType="VARCHAR" property="wxCode" />
    <result column="wx_name" jdbcType="VARCHAR" property="wxName" />
    <result column="fund_name" jdbcType="VARCHAR" property="fundName" />
    <result column="cur_time" jdbcType="VARCHAR" property="curTime" />
    <result column="cur_net_value" jdbcType="DOUBLE" property="curNetValue" />
    <result column="cur_gain" jdbcType="DOUBLE" property="curGain" />
    <result column="last_net_value" jdbcType="DOUBLE" property="lastNetValue" />
    <result column="last_gain" jdbcType="DOUBLE" property="lastGain" />
    <result column="gain_total" jdbcType="DECIMAL" property="gainTotal" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    user_id, fund_code, username, wx_code, wx_name, fund_name, cur_time, cur_net_value, 
    cur_gain, last_net_value, last_gain, gain_total, create_date
  </sql>
  <select id="selectByExample" parameterType="com.kenick.generate.bean.UserFundExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from user_fund
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="com.kenick.generate.bean.UserFundKey" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user_fund
    where user_id = #{userId,jdbcType=VARCHAR}
      and fund_code = #{fundCode,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.kenick.generate.bean.UserFundKey">
    delete from user_fund
    where user_id = #{userId,jdbcType=VARCHAR}
      and fund_code = #{fundCode,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.kenick.generate.bean.UserFundExample">
    delete from user_fund
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.kenick.generate.bean.UserFund">
    insert into user_fund (user_id, fund_code, username, 
      wx_code, wx_name, fund_name, 
      cur_time, cur_net_value, cur_gain, 
      last_net_value, last_gain, gain_total, 
      create_date)
    values (#{userId,jdbcType=VARCHAR}, #{fundCode,jdbcType=VARCHAR}, #{username,jdbcType=VARCHAR}, 
      #{wxCode,jdbcType=VARCHAR}, #{wxName,jdbcType=VARCHAR}, #{fundName,jdbcType=VARCHAR}, 
      #{curTime,jdbcType=VARCHAR}, #{curNetValue,jdbcType=DOUBLE}, #{curGain,jdbcType=DOUBLE}, 
      #{lastNetValue,jdbcType=DOUBLE}, #{lastGain,jdbcType=DOUBLE}, #{gainTotal,jdbcType=DECIMAL}, 
      #{createDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.kenick.generate.bean.UserFund">
    insert into user_fund
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        user_id,
      </if>
      <if test="fundCode != null">
        fund_code,
      </if>
      <if test="username != null">
        username,
      </if>
      <if test="wxCode != null">
        wx_code,
      </if>
      <if test="wxName != null">
        wx_name,
      </if>
      <if test="fundName != null">
        fund_name,
      </if>
      <if test="curTime != null">
        cur_time,
      </if>
      <if test="curNetValue != null">
        cur_net_value,
      </if>
      <if test="curGain != null">
        cur_gain,
      </if>
      <if test="lastNetValue != null">
        last_net_value,
      </if>
      <if test="lastGain != null">
        last_gain,
      </if>
      <if test="gainTotal != null">
        gain_total,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="fundCode != null">
        #{fundCode,jdbcType=VARCHAR},
      </if>
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="wxCode != null">
        #{wxCode,jdbcType=VARCHAR},
      </if>
      <if test="wxName != null">
        #{wxName,jdbcType=VARCHAR},
      </if>
      <if test="fundName != null">
        #{fundName,jdbcType=VARCHAR},
      </if>
      <if test="curTime != null">
        #{curTime,jdbcType=VARCHAR},
      </if>
      <if test="curNetValue != null">
        #{curNetValue,jdbcType=DOUBLE},
      </if>
      <if test="curGain != null">
        #{curGain,jdbcType=DOUBLE},
      </if>
      <if test="lastNetValue != null">
        #{lastNetValue,jdbcType=DOUBLE},
      </if>
      <if test="lastGain != null">
        #{lastGain,jdbcType=DOUBLE},
      </if>
      <if test="gainTotal != null">
        #{gainTotal,jdbcType=DECIMAL},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.kenick.generate.bean.UserFundExample" resultType="java.lang.Long">
    select count(*) from user_fund
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update user_fund
    <set>
      <if test="record.userId != null">
        user_id = #{record.userId,jdbcType=VARCHAR},
      </if>
      <if test="record.fundCode != null">
        fund_code = #{record.fundCode,jdbcType=VARCHAR},
      </if>
      <if test="record.username != null">
        username = #{record.username,jdbcType=VARCHAR},
      </if>
      <if test="record.wxCode != null">
        wx_code = #{record.wxCode,jdbcType=VARCHAR},
      </if>
      <if test="record.wxName != null">
        wx_name = #{record.wxName,jdbcType=VARCHAR},
      </if>
      <if test="record.fundName != null">
        fund_name = #{record.fundName,jdbcType=VARCHAR},
      </if>
      <if test="record.curTime != null">
        cur_time = #{record.curTime,jdbcType=VARCHAR},
      </if>
      <if test="record.curNetValue != null">
        cur_net_value = #{record.curNetValue,jdbcType=DOUBLE},
      </if>
      <if test="record.curGain != null">
        cur_gain = #{record.curGain,jdbcType=DOUBLE},
      </if>
      <if test="record.lastNetValue != null">
        last_net_value = #{record.lastNetValue,jdbcType=DOUBLE},
      </if>
      <if test="record.lastGain != null">
        last_gain = #{record.lastGain,jdbcType=DOUBLE},
      </if>
      <if test="record.gainTotal != null">
        gain_total = #{record.gainTotal,jdbcType=DECIMAL},
      </if>
      <if test="record.createDate != null">
        create_date = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update user_fund
    set user_id = #{record.userId,jdbcType=VARCHAR},
      fund_code = #{record.fundCode,jdbcType=VARCHAR},
      username = #{record.username,jdbcType=VARCHAR},
      wx_code = #{record.wxCode,jdbcType=VARCHAR},
      wx_name = #{record.wxName,jdbcType=VARCHAR},
      fund_name = #{record.fundName,jdbcType=VARCHAR},
      cur_time = #{record.curTime,jdbcType=VARCHAR},
      cur_net_value = #{record.curNetValue,jdbcType=DOUBLE},
      cur_gain = #{record.curGain,jdbcType=DOUBLE},
      last_net_value = #{record.lastNetValue,jdbcType=DOUBLE},
      last_gain = #{record.lastGain,jdbcType=DOUBLE},
      gain_total = #{record.gainTotal,jdbcType=DECIMAL},
      create_date = #{record.createDate,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.kenick.generate.bean.UserFund">
    update user_fund
    <set>
      <if test="username != null">
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="wxCode != null">
        wx_code = #{wxCode,jdbcType=VARCHAR},
      </if>
      <if test="wxName != null">
        wx_name = #{wxName,jdbcType=VARCHAR},
      </if>
      <if test="fundName != null">
        fund_name = #{fundName,jdbcType=VARCHAR},
      </if>
      <if test="curTime != null">
        cur_time = #{curTime,jdbcType=VARCHAR},
      </if>
      <if test="curNetValue != null">
        cur_net_value = #{curNetValue,jdbcType=DOUBLE},
      </if>
      <if test="curGain != null">
        cur_gain = #{curGain,jdbcType=DOUBLE},
      </if>
      <if test="lastNetValue != null">
        last_net_value = #{lastNetValue,jdbcType=DOUBLE},
      </if>
      <if test="lastGain != null">
        last_gain = #{lastGain,jdbcType=DOUBLE},
      </if>
      <if test="gainTotal != null">
        gain_total = #{gainTotal,jdbcType=DECIMAL},
      </if>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where user_id = #{userId,jdbcType=VARCHAR}
      and fund_code = #{fundCode,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kenick.generate.bean.UserFund">
    update user_fund
    set username = #{username,jdbcType=VARCHAR},
      wx_code = #{wxCode,jdbcType=VARCHAR},
      wx_name = #{wxName,jdbcType=VARCHAR},
      fund_name = #{fundName,jdbcType=VARCHAR},
      cur_time = #{curTime,jdbcType=VARCHAR},
      cur_net_value = #{curNetValue,jdbcType=DOUBLE},
      cur_gain = #{curGain,jdbcType=DOUBLE},
      last_net_value = #{lastNetValue,jdbcType=DOUBLE},
      last_gain = #{lastGain,jdbcType=DOUBLE},
      gain_total = #{gainTotal,jdbcType=DECIMAL},
      create_date = #{createDate,jdbcType=TIMESTAMP}
    where user_id = #{userId,jdbcType=VARCHAR}
      and fund_code = #{fundCode,jdbcType=VARCHAR}
  </update>
  <select id="selectFieldByExample" parameterType="map" resultMap="BaseResultMap">
    select
  	<if test="filedList != null" >
      <foreach collection="filedList" item="obj" index="index" separator="," >
	  	${obj}
	  	</foreach>
    </if>
	<if test="filedList == null" >
		<include refid="Base_Column_List" />
	</if>
    from user_fund
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
    <if test="example.orderByClause != null">
      order by ${example.orderByClause}
    </if>
  </select>
  <select id="selectFieldByPrimaryKey" parameterType="map" resultMap="BaseResultMap">
    select
  	<if test="filedList != null" >
      <foreach collection="filedList" item="obj" index="index" separator="," >
	  	${obj}
	  	</foreach>
    </if>
	<if test="filedList == null" >
		<include refid="Base_Column_List" />
	</if>
    from user_fund
    where user_id = #{userId,jdbcType=VARCHAR}
      and fund_code = #{fundCode,jdbcType=VARCHAR}
  </select>

<!-- field added --></mapper>
